# 创建新表

In [2]:
import sqlite3 as sql
conn = sql.connect('d:/test.db')
conn.execute("""CREATE TABLE base2
(学号   TEXT(10)    PRIMARY KEY    NOT NULL,
姓名    TEXT(10)    NOT NULL,
性别    TEXT(1)    NOT NULL,
专业    TEXT(6),
生源    TEXT(6),
身高    INTEGER,
电话    TEXT(6)
);""")

# 删除表

In [9]:
""" 清空表中所有数据，但是保留表结构。 """
conn.execute("delete from base2")